{% extends 'base.html.twig' %}
{% block title %}Acceuil{% endblock %}
{% block body %}

..
    <div class="row">
        <div class="col-md-3 col-lg-2">
            {% include 'sortie/_filterSortie.html.twig' with {form: form} only %}
        </div>
        <div class="col-md-9 col-lg-10">
            <div class="grid">
                {% for sortie in sorties %}
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">

                        <div class="mainflip">
                            <div class="frontside">

                                <div class="card">
                                    <a  href="{{ path('detailSortie_detail',{id: sortie.id})}}" class="btn btn-light stretched-link"></a>
                                    <div class="card-body text-center">
                                        <h4 class="card-title">{{ sortie.name |capitalize }} </h4>
                                        <p class="card-text">démarre
                                            le: {{ sortie.StartedDateTime | date('d/m/y') }}</p>
                                        <p class="card-text">Places
                                            disponibles: {{ sortie.maxNbOfRegistration }}</p>
                                        <h4 class="card-title">Ville</h4>
                                        <p class="card-text">{{ sortie.lieu.ville }}</p>

                                    </div>
                                </div>
                            </div>
                            <div class="backside">

                                <div class="card">
                                    <a href="{{ path('detailSortie_detail',{id: sortie.id})}}" class="btn btn-light stretched-link"></a>
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Description</h4>
                                        <p class="card-text">{{ sortie.description | u.truncate(250) }}...</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}

