
<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">OUR TEAM</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h4 class="card-title">{{ sortie.name |capitalize }} </h4>
                                    <p class="card-text">démarre le: {{ sortie.StartedDateTime | date('d/m/y') }}</p>
                                    <p class="card-text">Places disponibles: {{ sortie.maxNbOfRegistration - sortie.users|length}}</p>
                                    <h4 class="card-title">Adresse</h4>
                                    <p class="card-text">{{ sortie.lieu.ville }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Description</h4>
                                    <p class="card-text">{{ sortie.description }}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
