{{ form_start(form, {attr:{class: 'filter'}}) }}
{{ form_row(form.q,{ attr: {id:'search' }}) }}
<h4>Campus</h4>
{{ form_row(form.campus) }}
<h4>Dates</h4>
{{ form_row(form.startDate) }}
{{ form_row(form.endDate) }}
<h4>Filtres sorties</h4>
{{ form_row(form.createdByMe) }}

{{ form_row(form.subscrided) }}
{{ form_row(form.unSubscrided) }}
<button type="submit" class="btn btn-primary">rechercher</button>
{{ form_end(form) }}