{% extends 'base.html.twig' %}
{% block title %}Détail | {{ parent() }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center mb-5">Détails de la sortie</h1>
            <div class="row justify-content-center">
                <div class="col-lg-6" id="detail_detail">
                    <div class=" mb-2">
                        <p class="d-inline  ">Nom de la sortie :</p>
                        <p class="d-inline font-weight-bold mx-2">{{ sortie.name | capitalize }}</p>
                    </div>
                    <div class=" mb-2">
                        <p class="d-inline  ">Date et heure :</p>
                        <p class="d-inline font-weight-bold mx-2">{{ sortie.startedDateTime | format_datetime('full', 'short', locale='fr') }}</p>
                    </div>
                    <div class=" mb-2">
                        <p class="d-inline ">Date limite d'inscription :</p>
                        <p class="d-inline font-weight-bold mx-2">{{ sortie.deadline | date("d/m/Y") }}</p>
                    </div>
                    <div class=" mb-2">
                        <p class="d-inline ">Nombre de places :</p>
                        <p class="d-inline font-weight-bold mx-2">{{ sortie.maxNbOfRegistration }}</p>
                    </div>
                    <div class=" mb-2">
                        <p class="d-inline ">Durée :</p>
                        <p class="d-inline font-weight-bold mx-2">{{ sortie.duration }} minutes</p>
                    </div>
                    <div class=" mb-2">
                        <p class="d-inline  ">Campus :</p>
                        <p class="d-inline font-weight-bold mx-2">{{ sortie.campus.name | capitalize }}</p>
                    </div>
                    <div class=" mb-2">
                        <p class="d-inline  ">Lieu :</p>
                        <p class="d-inline font-weight-bold mx-2">{{ sortie.lieu.name | capitalize  }}</p>
                    </div>
                    <div class=" mb-2">
                        <p class="d-inline  ">Rue :</p>
                        <p class="d-inline font-weight-bold mx-2">{{ sortie.lieu.rue | capitalize  }}</p>
                    </div>
                    <div class=" mb-2">
                        <p class="d-inline  ">Code Postal :</p>
                        <p class="d-inline font-weight-bold mx-2">{{ sortie.lieu.rue   }}</p>
                    </div>
                    <div class=" mb-2">
                        <p class="d-inline  ">Longitude :</p>
                        <p class="d-inline font-weight-bold mx-2">{{ sortie.lieu.longitude  }}</p>
                    </div>
                    <div class=" mb-2">
                        <p class="d-inline  ">Latittude :</p>
                        <p class="d-inline font-weight-bold mx-2">{{ sortie.lieu.latitude   }}</p>
                    </div>
                    <div>
                        <p>Particpants :</p>
                        <table class="table table-hover">
                            <thead>
                            <tr>

                                <th scope="col">Pseudo</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Prénom</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in sortie.users %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.surname }}</td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>


                </div>

                <div class="col-lg-6">
                    <div class=" mb-2">
                        <p class="d-block mb-2 ">Description :</p>
                        <p class=" font-weight-bold mx-2 text-justify">{{ sortie.description }}</p>
                    </div>



                    <button class="btn btn-primary" type="submit" name="etat" value="1">S'inscrire</button>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
{% endblock %}