{% extends 'base.html.twig' %}
{% block title %}Détail | {{ parent() }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="mb-5">{{ sortie.name | capitalize }}</h1>
            <hr class="my-4">
            <div class="row ">
                <div class="col-lg-6" id="detail_detail">
                    <table class="table ">
                        <tbody>

                        <tr class="table-light">
                            <th scope="row">Date et heure :</th>
                            <td>{{ sortie.startedDateTime | format_datetime('full', 'short', locale='fr') }}</td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">Date limite d'inscription :</th>
                            <td>{{ sortie.deadline | format_datetime('full', 'short', locale='fr') }}</td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">Nombre de places :</th>
                            <td>{{ ((sortie.maxNbOfRegistration - sortie.users|length)) }} place(s)
                                disponible {{ sortie.maxNbOfRegistration }} </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">Durée :</th>
                            <td>environ {{ sortie.duration }} heures</td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">Campus :</th>
                            <td>  {{ sortie.campus.name | capitalize }}</td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">Lieu :</th>
                            <td>{{ sortie.lieu.name | capitalize }}</td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">Rue :</th>
                            <td>{{ sortie.lieu.rue | capitalize }}</td>
                        </tr>

                        <tr class="table-light">
                            <th scope="row">Code Postal :</th>
                            <td>{{ sortie.lieu.ville.codePostal }}</td>
                        </tr>

                        <tr class="table-light">
                            <th scope="row">Longitude :</th>
                            <td>{{ sortie.lieu.longitude }}</td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">Lattitude :</th>
                            <td>{{ sortie.lieu.longitude }}</td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">Organisateur :</th>
                            <td>{{ sortie.organiser.surname | capitalize }} {{ sortie.organiser.name | capitalize }}</td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">Participants :</th>
                            <td></td>
                        </tr>


                        </tbody>
                    </table>
                    <div>
                        <table class=" pre-scrollable table-bordered table table-hover">
                            <thead>
                            <tr>

                                <th scope="col">Pseudo</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Prénom</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in sortie.users %}

                                <tr>
                                    <td><a href="{{ path('other_user_profil', {id: user.id}) }}">
                                            {{ user.username }}</a></td>
                                    <td>{{ user.name | capitalize }}</td>
                                    <td>{{ user.surname | capitalize }}</td>

                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>


                </div>

                <div class="col-lg-6">
                    <div class=" mb-2">
                        <p class="d-block mb-2 font-weight-bold text-dark">Description :</p>
                        <p class=" mx-2 text-justify text-dark">{{ sortie.description }}</p>
                    </div>

                    {% set i = 0 %}
                    {% for user in sortie.users %}

                        {# Si le user en session n'est pas l'organisteur et est inscrit à la sortie -> bouton se désincrire #}

                        {% if app.user.username == user.username and app.user.id != sortie.organiser.id %}
                            <a href="{{ path('sortie_desinscription', {id : sortie.id}) }}">
                                <button class="btn btn-primary">Se désincrire</button>
                            </a>

                            {% set i = 1 %}
                        {% endif %}
                    {% endfor %}

                    {# Si le user en session n'est pas l'organisteur  et n'est pas inscrit-> bouton s'inscrire #}

                    {% if i == 0 and app.user.id != sortie.organiser.id %}
                        <a href="{{ path('sortie_inscription', {id : sortie.id}) }}">
                            <button class="btn btn-primary">S'inscrire</button>
                        </a>
                    {% endif %}

                    {# Si le user en session est l'oragnisateur -> boutons modifier et annuler la sortie #}

                    {% if app.user.id == sortie.organiser.id %}
                        {% if sortie.etat.id != 7 %}
                            {% if sortie.etat.id != 6 %}
                                {% if sortie.etat.id != 5 %}
                                    <a href="{{ path('sortie_modification', {id : sortie.id}) }}">
                                        <button class="btn btn-primary">Modifier</button>
                                    </a>


                                        <a href="{{ path('sortie_annulation', {id : sortie.id}) }}">
                                            <button class="btn btn-primary">Annuler</button>
                                        </a>

                                    {% if sortie.etat.id == 1 %}
                                        <a href="{{ path('home', {id : sortie.id}) }}">
                                            <button class="btn btn-primary">Publier</button>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
{% endblock %}