{% extends 'base.html.twig' %}
{% block title %}Proposer une sortie | {{ parent() }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div id="registerForm" class="col-lg-12 col-md-12 col-mb-10">
                <div class="jumbotron">
                    <h1>Créer une sortie</h1>
                    <div class="row">

                        <div class="col-lg-6 mt-1">
                            {{ form_start(sortieForm) }}
                            {{ form_row(sortieForm.name) }}
                            {{ form_row(sortieForm.StartedDateTime) }}
                            {{ form_row(sortieForm.duration) }}
                            {{ form_row(sortieForm.deadline) }}
                            {{ form_row(sortieForm.maxNbOfRegistration) }}
                            {{ form_row(sortieForm.description) }}
                            {{ form_row(sortieForm.campus) }}

                        </div>

                        <div class="col-lg-6">

                            {{ form_row(sortieForm.lieu) }}
                            {{ form_row(sortieForm.ville) }}


                            <div class="row justify-content-center mt-5 ">

                                <button class="btn btn-primary  ml-2" type="submit" name="etat" value="1">Enregistrer</button>
                                <button class="btn btn-danger ml-2" type="submit" name="etat" value="2">Publier</button>
                                <button class="btn btn-danger ml-2" type="reset">Annuler</button>


                            </div>
                        </div>
                    </div>
                    {{ form_end(sortieForm) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}

{#     <script src="{{ asset('js/app.js') }}"></script>{% endblock %}#}