{% extends'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div id="registerForm" class="col-lg-7 col-md-10 col-mb-10">
                <div class="jumbotron"><span class="align-middle"></span>
                    <h1>Votre profil</h1>
                    <hr class="my-4">
                    <table class="table table-hover">
                        <tbody>
                        <tr class="table-light">
                            <th scope="row">Nom: </th>
                            <td>{{ app.user.name }}</td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">Prénom: </th>
                            <td>{{ app.user.surname }}</td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">Pseudo: </th>
                            <td>{{ app.user.username }}</td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">email: </th>
                            <td>{{ app.user.email }}</td>
                        </tr>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">telephone: </th>
                            <td>{{ app.user.telephone }}</td>
                        </tr>

                        </tbody>
                    </table>
                    <hr class="my-4">
                        <a type="button" class="btn btn-info" href="{{ path('user_edit',{'id': app.user.id})}}">Modifier votre profil</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block title %}S'inscrire{% endblock %}