{% extends'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div id="registerForm" class="col-lg-7 col-md-10 col-mb-10">
                <div class="jumbotron"><span class="align-middle"></span>


                    <h1>{{ user.username }}</h1>
                    <hr class="my-4">

                    {% if 'https://' in user.urlPhoto %}
                        <img id="photoProfil" src="{{ asset(user.urlPhoto) }}" class="img-fluid "
                             alt="Responsive image">
                    {% else %}
                        <img id="photoProfil" src="/uploads/photos{{ asset(user.urlPhoto) }}" class="img-fluid "
                             alt="Responsive image">
                    {% endif %}

                    <hr class="my-4">

                    <table class="table table-hover">
                        <tbody>

                        <tr class="table-light">
                            <th scope="row">Nom:</th>
                            <td>{{ user.name }}</td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">Prénom:</th>
                            <td>{{ user.surname }}</td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">email:</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">telephone:</th>
                            <td>{{ user.telephone }}</td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">campus:</th>
                            <td>{{ user.campus.name }}</td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">Sorties :</th>

                        </tr>

                        </tbody>
                    </table>
                    <div>

                        <table class=" pre-scrollable table-bordered table table-hover">
                            <thead>
                            <tr>

                                <th scope="col">Sortie</th>
                                <th scope="col">Date</th>
                                <th scope="col">Ville</th>
                                <th scope="col">Etat</th>
                            </tr>
                            </thead>
                            <tbody>

                            {# Affiche les sorties utilisateurs #}
                            {% for sortie in sorties %}

                                <tr>
                                    <td>
                                        <a href="{{ path('detailSortie_detail', {id: sortie.id}) }}">{{ sortie.name }}</a>
                                    </td>
                                    <td>{{ sortie.startedDateTime | format_datetime('full', 'short', locale='fr') }}</td>
                                    <td>{{ sortie.lieu.ville | capitalize }}</td>
                                    <td>{{ sortie.etat.libelle | capitalize }}</td>

                                    {% if app.user.username == user.username %}
                                        <td>
                                            <a href="{{ path('sortie_desinscription_profil', {id : sortie.id, profil: 1 }) }}">
                                                <button class="btn btn-primary">Se désincrire</button>
                                            </a></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <hr class="my-4">
                    {% if app.user.username == user.username %}
                        <a type="button" class="btn btn-info" href="{{ path('user_edit',{'id': app.user.id}) }}">Modifier
                            mon profil</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block title %}mon profil{% endblock %}